backend:
  name: github
  repo: une-mc/wiki
  branch: main
  auth_endpoint: https://api.netlify.com/auth
  client_id: Ov23liSR8Fr4u71z10ZP

media_folder: "assets"
public_folder: "/wiki/assets"

collections:
  - name: "pages"
    label: "Pages"
    folder: "docs"
    create: true
    slug: "{{slug}}"
    extension: "md"
    format: "frontmatter"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
